Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, CI

.github/labeler.yml:

documentation:
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md

test:
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - tests/**

CI:
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .github/semantic.yml
  - .codeclimate.yml
  - .renovaterc.json

test(issue): add more coverage
  package-lock.json
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Labels: test

chore(api): add the id of the issue while fetching the github api
  CONTRIBUTING.md
  src/core/issues/issue-stale-processor.spec.ts
  src/github/api/issues/github-api-issue.interface.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/utils/dates/uuid.ts
Labels: documentation, test

feat(labels): add a new feature to get a label from the repository
  dist/index.js
  dist/licenses.txt
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/github-issues-per-page.ts
  src/github/api/labels/github-api-get-label-pagination.interface.ts
  src/github/api/labels/github-api-get-label.interface.ts
  src/github/api/labels/github-api-label.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  tests/utils/fake-issues-processor.ts
Labels: test

refactor(interfaces): move some interfaces into sub-folders
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/issues/interfaces/github-api-issues-pagination.interface.ts
  src/github/api/issues/interfaces/github-api-issues.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-get-label-pagination.interface.ts
  src/github/api/labels/interfaces/github-api-get-label.interface.ts
  tests/utils/fake-issues-processor.ts
Labels: test

feat(labels): add a new feature to add a label to an issue
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-get-label-pagination.interface.ts
  src/github/api/labels/interfaces/github-api-label.interface.ts
Labels: test

feat(stale): add a stale label on issue not updated since 30 days
  dist/index.js
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Labels: test

feat(logs): add logs for the stale label
  dist/index.js
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Labels: test

chore(deps): update dependency eslint-plugin-import to v2.25.3
  package-lock.json
  package.json
Labels: none

refactor(api): use constants for readability
  src/github/api/issues/github-api-issues-query.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/constants/github-api-add-label-to-issue-mutation.ts
  src/github/api/labels/constants/github-api-get-label-query.ts
  src/github/api/labels/github-api-labels.service.ts
Labels: none

chore(logs): improve the logs for the stale issue
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  tests/utils/fake-issues-processor.ts
Labels: test

test(sut): improve the way to create a bunch of issues
  tests/issues/batches-of-issues.spec.ts
  tests/utils/fake-issues-processor.ts
Labels: test

test(api): fix the failing tests
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/labels/github-api-labels.service.spec.ts
Labels: test

test(stale): add integration test
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/labels/constants/github-api-add-label-mutation.ts
  src/github/api/labels/constants/github-api-label-by-name-query.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  tests/issues/issue-to-stale.spec.ts
  tests/utils/fake-issues-processor.ts
Labels: test

chore(build): build the app
  dist/index.js
Labels: none

test(name): rename top describe
  src/core/issues/issue-stale-processor.spec.ts
Labels: test

test(name): rename top describe
  src/core/issues/issue-processor.spec.ts
Labels: test

chore(deps): update dependency eslint-plugin-jsdoc to v37
  package-lock.json
  package.json
Labels: none

build(test): remove the test job from the build
  .github/workflows/build.yml
Labels: CI

build(release): new version 1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  c882b8deb3ed1790a12761050e146baa2371071a
Labels: none

chore(deps): update dependency eslint to v8
  package-lock.json
  package.json
Labels: none

chore(logger): add a new method to display a value
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
Labels: test

refactor(logs): use the value logger method instead of the cyan format
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
Labels: test

chore(labels): fetch the labels on the issues
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/issues/github-api-issues-query.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-get-label.interface.ts
  src/github/api/labels/interfaces/github-api-labels-pagination.interface.ts
  src/github/api/labels/interfaces/github-api-labels.interface.ts
Labels: test

chore(utils): add a new util method to extract the duplicates from an array
  src/utils/arrays/get-duplicates.spec.ts
  src/utils/arrays/get-duplicates.ts
Labels: test

feat(issue): add new input issue-ignore-any-labels to ignore the processing of issues with specific labels
  .github/workflows/stale.yml
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-issues-per-page.ts
  src/github/api/issues/constants/github-labels-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  tests/issues/issue-with-ignored-label.spec.ts
  tests/utils/fake-issues-processor.ts
Labels: documentation, test, CI

docs(contributing): fix plural typo
  CONTRIBUTING.md
Labels: documentation

docs(readme): use better english
  README.md
Labels: documentation

Notes added by 'git notes add'
  b02f0c4e3646ec093b17eb18d76cf955d13a4c93
Labels: none

build(release): new version 1.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

fix(dry-run): ignore the stale label addition in dry-run mode
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Labels: documentation, test

chore(logs): add more logs for the dry-run and the stale label
  dist/index.js
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Labels: test

build(release): new version 1.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  524ad3ab2cd559680d4bb67c81cc2802c18e6394
Labels: none

docs(readme): add a warning about WIP state
  README.md
Labels: documentation

chore(check): add new function to check if a number is finite
  src/utils/numbers/is-finite-number.spec.ts
  src/utils/numbers/is-finite-number.ts
Labels: test

chore(inputs): add new method to parse an input to a number
  .eslintrc.yml
  src/core/inputs/inputs.service.ts
  src/utils/loggers/logger.service.ts
  src/utils/numbers/is-finite-number.spec.ts
Labels: test

feat(issue): add a new input "issue-days-before-stale" to choose when to stale
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-to-stale.spec.ts
  tests/utils/fake-issues-processor.ts
Labels: documentation, test

build(release): new version 1.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  c46f163c0e538b3191d4162aa24d1eb8f7248b82
Labels: none
