Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test

.github/labeler.yml:

documentation:
  - .all-contributorsrc
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md

test:
  - src/**/*.spec.ts
  - src/**/*.spec.js

build(ci): add checkout to fix an issue
  .github/workflows/stale-tester.yml
Labels: none

chore: update dist
  dist/main.js.map
Labels: none

chore: migrate to parcel 2
  .eslintignore
  .gitignore
  .parcelrc
  .prettierignore
  dist/main.js
  dist/main.js.map
  package-lock.json
  package.json
  tsconfig.json
Labels: none

chore: replace parcel by vcc
  .eslintignore
  .gitignore
  .parcelrc
  .prettierignore
  .releaserc.json
  action.yml
  dist/index.js
  dist/licenses.txt
  dist/main.js
  dist/main.js.map
  dist/sourcemap-register.js
  package-lock.json
  package.json
Labels: none

chore: fix an issue due to imports of core
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  src/core/inputs/inputs.service.ts
  src/utils/logger/logger.service.ts
Labels: none

chore: display the inputs logs
  dist/index.js
  dist/index.js.map
  package.json
  src/core/inputs/inputs.service.ts
Labels: none

docs(readme): add a badge for the stale status
  README.md
Labels: documentation

docs(readme): use flat square badges
  README.md
Labels: documentation

test(codeclimate): exclude build folder from analysis
  .codeclimate.yml
Labels: none

chore: fix an issue of context to log successfully
  dist/index.js
  dist/index.js.map
  src/core/inputs/inputs.service.ts
  src/core/stale.service.ts
  src/utils/logger/logger.service.ts
Labels: none

chore(hooks): add a build step during the git hooks
  .lintstagedrc
Labels: none

test(inputs): add some coverage
  .eslintrc.yml
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/utils/logger/__mocks__/logger-format.service.ts
  src/utils/logger/__mocks__/logger.service.ts
  src/utils/logger/logger.service.ts
Labels: test

chore(link): fix the link to the readme for the inputs
  dist/index.js
  dist/index.js.map
  src/utils/link/create-input-link.spec.ts
  src/utils/link/create-input-link.ts
Labels: test

chore(logs): prefer info over debug for the inputs
  dist/index.js
  dist/index.js.map
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/utils/logger/__mocks__/logger.service.ts
  src/utils/logger/logger.service.ts
Labels: test

chore(deps): pin node.js to v12.22.7
  package.json
Labels: none

chore(deps): update dependency @types/faker to v5.5.9
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @types/node to v14.17.32
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency husky to v7.0.4
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v11.2.6
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency ts-jest to v27.0.7
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency typescript to v4.4.4
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @types/lodash to v4.14.176
  package-lock.json
  package.json
Labels: none
