Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation :books:, test :test_tube:, CI :robot:, website :computer:

.github/labeler.yml:

'documentation :books:':
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md
  - documentation/**

'test :test_tube:':
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - src/**/*.spec.mjs
  - tests/**
  - documentation/**/*.spec.ts
  - documentation/**/*.spec.tsx
  - documentation/**/*.spec.js
  - documentation/**/*.spec.mjs

'CI :robot:':
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .codeclimate.yml
  - .renovaterc.json

'website :computer:':
  - documentation/**

build(release): new version 2.2.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

chore: update index
  dist/index.js
Labels: none

chore(renovate): group jest and ts-jest major updates
  .renovaterc.json
Labels: CI :robot:

feat(outputs): add new outputs `removed-issues-labels-count` and `issues-labels-count`
  README.md
  action.yml
  documentation/docs/04-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/01-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/10-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/11-added-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/12-removed-issues-labels-count-output.mdx
  documentation/docs/06-issues/02-outputs/13-called-api-issues-count-output.mdx
  documentation/docs/06-issues/02-outputs/14-called-api-issues-queries-count-output.mdx
  documentation/docs/06-issues/02-outputs/15-called-api-issues-mutations-count-output.mdx
  src/core/outputs/annotations/issues-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/issues-outputs-annotations.service.ts
  src/core/outputs/enums/issues-outputs.enum.ts
  src/core/outputs/issues-outputs.service.spec.ts
  src/core/outputs/issues-outputs.service.ts
  src/core/statistics/issues-statistics.service.ts
  tests/issues/issue-to-stale-add-extra-labels.spec.ts
Labels: documentation :books:, test :test_tube:, website :computer:

style(contributing): fix typo
  CONTRIBUTING.md
Labels: documentation :books:

feat(stats): add new stats about the removed issues labels
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/issues-statistics.service.ts
Labels: test :test_tube:

feat(stats): add new stats about the removed pull requests labels
  src/core/statistics/issues-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
Labels: test :test_tube:

feat(outputs): add new outputs `removed-pull-requests-labels-count` and `pull-requests-labels-count`
  README.md
  action.yml
  documentation/docs/04-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/01-all-outputs.mdx
  documentation/docs/06-issues/02-outputs/10-issues-labels-count-output.mdx
  documentation/docs/08-pull-requests/01-inputs/74-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/02-outputs/01-all-outputs.mdx
  documentation/docs/08-pull-requests/02-outputs/11-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/12-added-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/13-removed-pull-requests-labels-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/14-draft-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/15-called-api-pull-requests-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/16-called-api-pull-requests-queries-count-output.mdx
  documentation/docs/08-pull-requests/02-outputs/17-called-api-pull-requests-mutations-count-output.mdx
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.spec.ts
  src/core/outputs/annotations/pull-requests-outputs-annotations.service.ts
  src/core/outputs/enums/pull-requests-outputs.enum.ts
Labels: documentation :books:, test :test_tube:, website :computer:

docs(statistics): fix a typo in wording in the statistics website page
  documentation/docs/10-statistics.mdx
Labels: documentation :books:, website :computer:

build(release): new version 2.3.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

Notes added by 'git notes add'
  f0/219e0574d25d62d9a8781c5cbbc00bfe860328
Labels: none

fix(issues): fix closing issues bug due to the close reason feature
  dist/index.js
  src/github/api/issues/constants/github-api-close-issue-mutation.ts
Labels: none

build(release): new version 2.3.1
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

Notes added by 'git notes add'
  c8/62ad1edd7893a3cedadbd34dcec61a9a54f59d
Labels: none

chore(eslint): downgrade eslint to 8.22.0 to avoid a WebStorm issue
  package-lock.json
  package.json
Labels: none

fix(prs): remove the input `pull-request-close-reason`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/41-close-comment-input.mdx
  documentation/docs/08-pull-requests/01-inputs/51-days-before-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/71-add-labels-after-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/71-close-reason-input.mdx
  documentation/docs/08-pull-requests/01-inputs/72-remove-labels-after-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/73-add-labels-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/74-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/75-delete-branch-after-close-input.mdx
  documentation/docs/16-migrations/02-migration-to-2.md
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  tests/pull-requests/pull-request-close-reason.spec.ts
  tests/utils/test-default-inputs.ts
Labels: documentation :books:, test :test_tube:, website :computer:

build(release): new version 2.3.2
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

Notes added by 'git notes add'
  64/17c2cb719a63916f4cd4d22968703129974bc6
Labels: none

docs(sidebar): auto-collapse the categories and allow to hide it
  documentation/docs/16-migrations/02-migration-to-2.md
  documentation/docusaurus.core.config.js
Labels: documentation :books:, website :computer:

chore(deps): add @octokit/graphql-schema
  .idea/jsLibraryMappings.xml
  .idea/libraries/octokit.xml
  package-lock.json
  package.json
Labels: none

chore(deps): remove @octokit/webhooks-definitions
  package-lock.json
  package.json
Labels: none

feat(github): perform a GraphQL schematics validation before processing
  dist/index.js
  dist/licenses.txt
  dist/schema.graphql
  src/core/processing/abstract-logger.ts
  src/core/processing/issues/issue-logger.spec.ts
  src/core/processing/pull-requests/pull-request-logger.spec.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  src/main.ts
Labels: test :test_tube:

chore(deps): move @octokit/graphql-schema as a dependency
  package-lock.json
  package.json
Labels: none

chore: update index
  dist/index.js
Labels: none

chore(changelog): remove useless bug report
  CHANGELOG.md
  documentation/docs/15-changelog.md
Labels: documentation :books:, website :computer:

chore(docs): add new translation
  documentation/i18n/en/code.json
  documentation/i18n/fr/code.json
Labels: documentation :books:, website :computer:

chore: update index
  dist/index.js
  dist/schema.graphql
Labels: none

feat(issues): add new input `issue-remove-labels-after-close`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/01-all-inputs.mdx
  documentation/docs/06-issues/01-inputs/41-close-comment-input.mdx
  documentation/docs/06-issues/01-inputs/51-days-before-close-input.mdx
  documentation/docs/06-issues/01-inputs/71-close-reason-input.mdx
  documentation/docs/06-issues/01-inputs/75-remove-labels-after-close-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/abstract-extra-labels-processor.ts
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/issues/issue-close-stale-processor.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  tests/issues/issue-to-close-add-extra-labels.spec.ts
  tests/issues/issue-to-close-remove-extra-labels.spec.ts
  tests/issues/issue-to-stale-remove-extra-labels.spec.ts
  tests/utils/abstract-fake-processor.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Labels: documentation :books:, test :test_tube:, website :computer:

feat(prs): add new input `pull-request-remove-labels-after-close`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  documentation/docs/03-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/01-all-inputs.mdx
  documentation/docs/08-pull-requests/01-inputs/41-close-comment-input.mdx
  documentation/docs/08-pull-requests/01-inputs/51-days-before-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/74-remove-labels-after-close-input.mdx
  documentation/docs/08-pull-requests/01-inputs/75-to-draft-instead-of-stale-input.mdx
  documentation/docs/08-pull-requests/01-inputs/76-delete-branch-after-close-input.mdx
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  tests/pull-requests/pull-request-to-close-remove-extra-labels.spec.ts
  tests/utils/fake-pull-requests-processor.ts
  tests/utils/test-default-inputs.ts
Labels: documentation :books:, test :test_tube:, website :computer:

feat(logs): improve the logger messages for the schemas checks
  dist/index.js
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
Labels: test :test_tube:

build(release): new version 2.4.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

Notes added by 'git notes add'
  ef/485caab3f7d560098aac7f434072ee1271e1e1
Labels: none

chore(changelog): improve the changelog for the 2.4.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
Labels: documentation :books:, website :computer:

chore(contributing): add the github schemas checks as part of the initialization
  CONTRIBUTING.md
Labels: documentation :books:

chore(comments): add hidden header in the comments
  CONTRIBUTING.md
  dist/index.js
  src/core/processing/abstract-comments-processor.ts
  src/core/processing/issues/issue-comments-processor.spec.ts
  src/core/processing/issues/issue-comments-processor.ts
  src/core/processing/pull-requests/pull-request-comments-processor.spec.ts
  src/core/processing/pull-requests/pull-request-comments-processor.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
  src/utils/enums/comment-type.enum.ts
  src/utils/interfaces/comment-header-options.interface.ts
Labels: documentation :books:, test :test_tube:

refactor: change the syntax for the todo
  src/core/inputs/core-inputs.service.ts
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.ts
  src/utils/close/get-parsed-close-reason.ts
  src/utils/enums/get-enum-keys.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Labels: test :test_tube:

chore(schemas): add new schema to remove an issue comment
  src/github/api/comments/constants/github-api-remove-issue-comment-mutation.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  tests/utils/fake-issues-processor.ts
Labels: test :test_tube:

chore(issues): fetch the first 50 comments
  src/github/api/comments/interfaces/github-api-comment.interface.ts
  src/github/api/comments/interfaces/github-api-comments-pagination.interface.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-comments-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
Labels: test :test_tube:

chore(schemas): add new schema to remove a pull request comment
  src/github/api/comments/constants/github-api-remove-pull-request-comment-mutation.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  tests/utils/fake-pull-requests-processor.ts
Labels: test :test_tube:

chore(comments): add new method to remove a label
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
Labels: test :test_tube:
