Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, CI

chore(deps): update typescript-eslint monorepo to v5.4.0
  package-lock.json
  package.json
Labels: none

test(coverage): ignore the ts files from the tests for coverage calc
  jest.config.js
Labels: none

chore(stats): use an init method to reset the stats for the tests
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
Labels: test

test(integration): use the statistics to truely test the code
  dist/index.js
  tests/issues/batches-of-issues.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-stale.spec.ts
  tests/issues/issue-with-ignored-label.spec.ts
  tests/issues/locked-issue.spec.ts
  tests/issues/no-issue.spec.ts
Labels: test

build(cache): use different cache location for the different tests jobs
  .github/workflows/build.yml
Labels: CI

feat(issue): use the most recent added stale label event for the check
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
Labels: test

build(release): new version 1.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  d3d0bff57e0ef9b31e83426f77215c20aae9c75d
Labels: none

feat(outputs): add some outputs to this action
  README.md
  dist/index.js
  src/core/outputs/outputs.enum.ts
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
Labels: documentation, test

build(release): new version 1.12.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  523406fe3c4ec59a6e41087d92db01d1a7077480
Labels: none

docs(readme): add configuration example
  README.md
Labels: documentation

style(labels): rename a method
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
Labels: test

chore(api): add new method to get a label by name
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/interfaces/github-api-get-issues.interface.ts
  src/github/api/labels/constants/github-api-label-by-name-query.ts
  src/github/api/labels/constants/github-api-labels-by-name-query.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-get-label.interface.ts
  src/github/api/labels/interfaces/github-api-get-labels.interface.ts
  tests/utils/fake-issues-processor.ts
Labels: test

feat(label): use a better search to find the stale label to avoid mismatch
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  tests/utils/fake-issues-processor.ts
Labels: test

build(release): new version 1.13.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  65af5ef61aa0e98c4c7ab25cd5804b32ce14be63
Labels: none

chore(deps): update dependency @types/jest to v27.0.3
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @types/node to v14.17.34
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v12.0.3
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency jest-extended to v1
  package-lock.json
  package.json
Labels: none

chore(jest): fix the jest extended config following the BR
  jest.config.js
Labels: none

feat(issue): add new input to ignore the process when a label is on an issue
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  package-lock.json
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-with-all-labels-ignored.spec.ts
  tests/utils/test-default-inputs.ts
Labels: documentation, test

build(release): new version 1.14.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  71b6fc170db45587b3ae27677a57c361bad351db
Labels: none

docs(readme): show an example of the issue-ignore-all-labels input
  README.md
Labels: documentation

chore(date): add new function to add x days to a date
  src/utils/dates/add-x-days-to-date.spec.ts
  src/utils/dates/add-x-days-to-date.ts
Labels: test

chore(api): add new method to close an issue
  src/github/api/issues/constants/github-api-close-issue-mutation.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/labels/constants/github-api-add-label-mutation.ts
  src/github/api/labels/constants/github-api-label-by-name-query.ts
  src/github/api/labels/constants/github-api-labels-by-name-query.ts
  src/github/api/labels/constants/github-api-remove-label-mutation.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/timeline-items/constants/github-api-timeline-items-issue-labeled-event-query.ts
Labels: test

feat(stats): add stats about the number of closed issues
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
Labels: test

feat(outputs): add closed issues count output
  src/core/outputs/outputs.enum.ts
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
Labels: test

chore(issue): add a processor to close an issue
  src/core/issues/issue-close-stale-processor.spec.ts
  src/core/issues/issue-close-stale-processor.ts
Labels: test

chore(issue): add a processor to check if the issue should be closed
  src/core/issues/issue-should-close-stale-processor.spec.ts
  src/core/issues/issue-should-close-stale-processor.ts
Labels: test

feat(issue): close stale issues
  CONTRIBUTING.md
  README.md
  dist/index.js
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/statistics/statistics.service.spec.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  tests/issues/batches-of-issues.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-to-close.spec.ts
  tests/issues/issue-to-stale.spec.ts
  tests/issues/issue-with-all-labels-ignored.spec.ts
  tests/issues/issue-with-ignored-label.spec.ts
  tests/issues/locked-issue.spec.ts
  tests/issues/no-issue.spec.ts
  tests/utils/fake-issues-processor.ts
Labels: documentation, test

build(release): new version 1.15.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  d5e903a5fbaff833c4f3cb37af8013b6f142e49d
Labels: none

feat(issue): avoid closing issues on dry-run mode
  dist/index.js
  src/core/issues/issue-close-stale-processor.spec.ts
  src/core/issues/issue-close-stale-processor.ts
Labels: test

build(release): new version 1.16.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  e565f9cdbf6f67cd608b206c08f813c89dc2edfb
Labels: none

feat(issue): add new input to ignore issues with assignees
  .eslintrc.yml
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/labels/interfaces/github-api-assignee.interface.ts
  src/github/api/labels/interfaces/github-api-assignees-pagination.interface.ts
  tests/issues/issue-with-all-assignees-ignored.spec.ts
  tests/utils/test-default-inputs.ts
Labels: documentation, test

build(release): new version 1.17.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

.github/labeler.yml:

documentation:
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md

test:
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - tests/**

CI:
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .github/semantic.yml
  - .codeclimate.yml
  - .renovaterc.json
