Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation :books:, test :test_tube:, CI :robot:, website :computer:

.github/labeler.yml:

'documentation :books:':
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md
  - documentation/**

'test :test_tube:':
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - src/**/*.spec.mjs
  - tests/**
  - documentation/**/*.spec.ts
  - documentation/**/*.spec.tsx
  - documentation/**/*.spec.js
  - documentation/**/*.spec.mjs

'CI :robot:':
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .codeclimate.yml
  - .renovaterc.json

'website :computer:':
  - documentation/**

docs(analytics): configure vercel analytics for the docs
  documentation/package-lock.json
  documentation/package.json
  documentation/src/pages/index.tsx
Labels: documentation :books:, website :computer:

chore: ignore .idea config file (#1187)
  .gitignore
Labels: none

chore: update docs translations
  documentation/i18n/en/code.json
  documentation/i18n/fr/code.json
Labels: documentation :books:, website :computer:

chore: fix failing tests
  dist/index.js
  dist/licenses.txt
  jest.config.ts
  package-lock.json
  package.json
  src/github/octokit/octokit.service.ts
  src/utils/links/create-input-link.ts
  src/utils/links/create-link.spec.ts
  src/utils/links/create-link.ts
  tsconfig.json
Labels: test :test_tube:

chore: update the labeler workflow
  .github/workflows/label.yml
Labels: CI :robot:

chore: update @types/node to 20
  package-lock.json
  package.json
Labels: none

build(release): new version 3.1.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

Notes added by 'git notes add'
  e4/6d1c6b151497c6c14138b814db9add5f371412
Labels: none

chore(idea): ignore file
  .idea/.gitignore
Labels: none

chore(idea): ignore file
  .idea/.gitignore
Labels: none

build(release): new version 3.1.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

build(release): new version 3.1.0 (#1232)
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:
