Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, CI

docs(contributing): add docs about the close comment
  CONTRIBUTING.md
Labels: documentation

test: fix failing tests due to default config set to comment on close
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-close.spec.ts
Labels: test

build(release): new version 1.21.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  16aa94ffcabf43dbfaf96658f9107b926017b619
Labels: none

chore(deps): update dependency @types/node to v14.18.0
  package-lock.json
  package.json
Labels: none

chore(deps): lock file maintenance
  package-lock.json
Labels: none

feat(debug): add more logs to debug in case a label does not exist in your repo
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
Labels: test

chore(index): update the index
  dist/index.js
Labels: none

chore(deps): update typescript-eslint monorepo to v5.6.0
  package-lock.json
  package.json
Labels: none

build(release): new version 1.22.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  b8e6a6b8b14f6f5a4d346412b299c46d4238b59f
Labels: none

chore(deps): update dependency eslint to v8.4.1
  package-lock.json
  package.json
Labels: none

chore(deps): lock file maintenance
  package-lock.json
Labels: none

docs(stale): add more details over how the stale action works
  README.md
Labels: documentation

chore(deps): update dependency @types/lodash to v4.14.178
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency ts-jest to v27.1.1
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency typescript to v4.5.3
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jsdoc to v37.2.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency jest to v27.4.4
  package-lock.json
  package.json
Labels: none

fix(deps): update dependency luxon to v2.2.0
  package-lock.json
  package.json
Labels: none

chore(index): update index
  dist/index.js
Labels: none

chore(deps): lock file maintenance
  package-lock.json
Labels: none

feat(issue): add new input "issue-ignore-all-project-cards"
  CONTRIBUTING.md
  README.md
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-project-cards-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/labels/interfaces/github-api-project-card.interface.ts
  src/github/api/labels/interfaces/github-api-project-cards-pagination.interface.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Labels: documentation, test

chore(action): add missing input in the list of action
  action.yml
Labels: none

chore(action): fix the stale testeur issue due to bad default value
  action.yml
Labels: none

chore(deps): update dependency @sonia-corporation/conventional-changelog to v1.1.0
  package-lock.json
  package.json
Labels: none

Notes added by 'git notes add'
  fb6d4d733a381a07ee6b2b0cc311c18dbfc11514
Labels: none

build(release): new version 1.23.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

chore(release): include the body of the commits in the relese notes
  .releaserc.json
Labels: none

chore(stale): fix a typo in the stale message configured for this repository
  .github/workflows/stale.yml
Labels: CI

docs(readme): update the readme to show pull requests inputs
  README.md
Labels: documentation

feat(pr): add new inputs to support pull requests processing
  action.yml
Labels: none

chore(inputs): add a core inputs service
  src/core/inputs/core-inputs.service.spec.ts
  src/core/inputs/core-inputs.service.ts
  src/core/inputs/types/input.ts
  src/core/inputs/types/inputs.ts
Labels: test

chore(inputs): create a dedicated service for common inputs
  src/core/inputs/common-inputs.service.spec.ts
  src/core/inputs/common-inputs.service.ts
  src/core/inputs/interfaces/common-inputs.interface.ts
Labels: test

chore(inputs): create a dedicated service for issues inputs
  src/core/inputs/common-inputs.service.spec.ts
  src/core/inputs/interfaces/issues-inputs.interface.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.ts
Labels: test

chore(inputs): create a dedicated service for pull requests inputs
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
Labels: test

refactor(inputs): drastically change the inputs service
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
Labels: test

chore(inputs): add pull requests members to the enum
  src/core/inputs/inputs.enum.ts
Labels: none

chore(inputs): fix all the imports due to the split of services
  src/core/inputs/types/all-inputs.ts
  src/core/issues/issue-close-stale-processor.spec.ts
  src/core/issues/issue-close-stale-processor.ts
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-ignore-processor.spec.ts
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-is-stale-processor.spec.ts
  src/core/issues/issue-is-stale-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-should-close-stale-processor.spec.ts
  src/core/issues/issue-should-close-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/octokit/octokit.service.spec.ts
  src/github/octokit/octokit.service.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Labels: test

test: fix failing tests
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-ignore-processor.spec.ts
  tests/utils/fake-issues-processor.ts
Labels: test

.github/labeler.yml:

documentation:
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md

test:
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - tests/**

CI:
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .github/semantic.yml
  - .codeclimate.yml
  - .renovaterc.json
