Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, CI

.github/labeler.yml:

documentation:
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md

test:
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - tests/**

CI:
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .github/semantic.yml
  - .codeclimate.yml
  - .renovaterc.json

refactor(statistics): use a singleton and abstract service for PRs statistics service
  dist/index.js
  src/core/outputs/pull-requests-outputs.service.spec.ts
  src/core/outputs/pull-requests-outputs.service.ts
  src/core/pull-requests/pull-request-comments-processor.spec.ts
  src/core/pull-requests/pull-request-comments-processor.ts
  src/core/pull-requests/pull-request-processor.spec.ts
  src/core/pull-requests/pull-request-processor.ts
  src/core/pull-requests/pull-requests.service.spec.ts
  src/core/pull-requests/pull-requests.service.ts
  src/core/statistics/pull-requests-statistics.service.spec.ts
  src/core/statistics/pull-requests-statistics.service.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
  tests/pull-requests/batches-of-pull-requests.spec.ts
  tests/pull-requests/custom-days-before-pull-request-stale.spec.ts
  tests/pull-requests/issue-stale-not-updated.spec.ts
  tests/pull-requests/locked-pull-request.spec.ts
  tests/pull-requests/no-pull-request.spec.ts
  tests/pull-requests/pull-request-stale-and-updated.spec.ts
  tests/pull-requests/pull-request-to-close-comment.spec.ts
  tests/pull-requests/pull-request-to-close.spec.ts
  tests/pull-requests/pull-request-to-stale-comment.spec.ts
  tests/pull-requests/pull-request-to-stale.spec.ts
  tests/pull-requests/pull-request-with-all-assignees-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-labels-ignored.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-ignored-assignee.spec.ts
  tests/pull-requests/pull-request-with-ignored-creation-date.spec.ts
  tests/pull-requests/pull-request-with-ignored-label.spec.ts
Labels: test

refactor(outputs): use a singleton and abstract service for issues outputs service
  dist/index.js
  src/core/outputs/abstract-outputs.service.ts
  src/core/outputs/issues-outputs.service.spec.ts
  src/core/outputs/issues-outputs.service.ts
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
Labels: test

refactor(outputs): use a singleton and abstract service for PRs outputs service
  dist/index.js
  src/core/outputs/outputs.service.spec.ts
  src/core/outputs/outputs.service.ts
  src/core/outputs/pull-requests-outputs.service.spec.ts
  src/core/outputs/pull-requests-outputs.service.ts
Labels: test

refactor(github): use abstract service for api calls
  dist/index.js
  src/core/issues/issue-comments-processor.spec.ts
  src/core/issues/issue-comments-processor.ts
  src/core/issues/issue-processor.ts
  src/core/pull-requests/pull-request-comments-processor.spec.ts
  src/core/pull-requests/pull-request-comments-processor.ts
  src/core/pull-requests/pull-request-processor.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/comments/github-api-issue-comments.service.spec.ts
  src/github/api/comments/github-api-issue-comments.service.ts
  src/github/api/comments/github-api-pull-request-comments.service.spec.ts
  src/github/api/comments/github-api-pull-request-comments.service.ts
Labels: test

refactor(github): use abstract service for api calls
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/core/pull-requests/pull-request-remove-stale-processor.spec.ts
  src/core/pull-requests/pull-request-remove-stale-processor.ts
  src/core/pull-requests/pull-request-stale-processor.spec.ts
  src/core/pull-requests/pull-request-stale-processor.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/labels/github-api-issue-labels.service.spec.ts
  src/github/api/labels/github-api-issue-labels.service.ts
  src/github/api/labels/github-api-pull-request-labels.service.spec.ts
  src/github/api/labels/github-api-pull-request-labels.service.ts
Labels: test

refactor(github): use abstract service for api calls
  dist/index.js
  src/github/api/abstract-github-api.service.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
Labels: none

refactor(github): use abstract service for api calls
  dist/index.js
  src/github/api/abstract-github-api.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/github/api/timeline-items/abstract-github-api-timeline-items.service.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-issue-timeline-items.service.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-pull-request-timeline-items.service.ts
Labels: test

refactor: use abstract service to process the issues
  dist/index.js
  src/core/inputs/abstract-inputs.service.ts
  src/core/outputs/abstract-outputs.service.ts
  src/core/processing/abstract-processing.service.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/issues/issues.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/core/statistics/abstract-statistics.service.ts
Labels: test

refactor: use abstract service to process the PRs
  dist/index.js
  src/core/processing/pull-requests/pull-requests.service.spec.ts
  src/core/processing/pull-requests/pull-requests.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
Labels: test

refactor: use an abstract class for close stale PRs processor
  dist/index.js
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-close-stale-processor.ts
  src/github/api/abstract-github-api.service.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
Labels: test

refactor: use an abstract class for close stale issues processor
  dist/index.js
  src/core/processing/issues/issue-close-stale-processor.spec.ts
  src/core/processing/issues/issue-close-stale-processor.ts
Labels: test

refactor: use an abstract class for comment PRs processor
  dist/index.js
  src/core/processing/abstract-close-stale-processor.ts
  src/core/processing/abstract-comments-processor.ts
  src/core/processing/pull-requests/pull-request-comments-processor.spec.ts
  src/core/processing/pull-requests/pull-request-comments-processor.ts
  src/github/api/abstract-github-api.service.ts
  src/github/api/comments/abstract-github-api-comments.service.ts
  src/github/api/labels/abstract-github-api-labels.service.ts
  src/utils/processors/abstract-processor.ts
Labels: test

refactor: use an abstract class for comment issues processor
  dist/index.js
  src/core/processing/issues/issue-comments-processor.spec.ts
  src/core/processing/issues/issue-comments-processor.ts
Labels: test

chore(deps): update dependency @types/node to v14.18.2
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency concurrently to v6.5.1
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jsdoc to v37.4.0
  package-lock.json
  package.json
Labels: none

chore(deps): lock file maintenance
  package-lock.json
Labels: none

chore(deps): update typescript-eslint monorepo to v5.8.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v12.1.4
  package-lock.json
  package.json
Labels: none

chore(deps): lock file maintenance
  package-lock.json
Labels: none

chore(deps): update dependency @types/node to v14.18.3
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jsdoc to v37.4.2
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @types/jest to v27.4.0
  package-lock.json
  package.json
Labels: none

chore(deps): update typescript-eslint monorepo to v5.8.1
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint to v8.6.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jsdoc to v37.5.0
  package-lock.json
  package.json
Labels: none

refactor: add an abstract class for is stale processors
  dist/index.js
  src/core/processing/abstract-is-stale-processor.ts
  src/core/processing/issues/issue-is-stale-processor.spec.ts
  src/core/processing/issues/issue-is-stale-processor.ts
  src/core/processing/pull-requests/pull-request-is-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-is-stale-processor.ts
Labels: test

refactor: add an abstract class for ignore processors
  dist/index.js
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
Labels: test

refactor: add an abstract class for the logger
  dist/index.js
  src/core/processing/abstract-logger.ts
  src/core/processing/issues/issue-logger.spec.ts
  src/core/processing/issues/issue-logger.ts
  src/core/processing/pull-requests/pull-request-logger.spec.ts
  src/core/processing/pull-requests/pull-request-logger.ts
Labels: test

refactor: add an abstract class for remove stale processors
  dist/index.js
  src/core/processing/abstract-remove-stale-processor.ts
  src/core/processing/issues/issue-remove-stale-processor.spec.ts
  src/core/processing/issues/issue-remove-stale-processor.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.ts
Labels: test

refactor: add an abstract class for should close stale processors
  dist/index.js
  src/core/processing/abstract-remove-stale-processor.ts
  src/core/processing/abstract-should-close-stale-processor.ts
  src/core/processing/issues/issue-remove-stale-processor.ts
  src/core/processing/issues/issue-should-close-stale-processor.spec.ts
  src/core/processing/issues/issue-should-close-stale-processor.ts
  src/core/processing/pull-requests/pull-request-remove-stale-processor.ts
  src/core/processing/pull-requests/pull-request-should-close-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-should-close-stale-processor.ts
Labels: test

chore(eslint): add more blank spaces in the code
  .eslintrc.yml
Labels: none

refactor: add an abstract class for stale processors
  dist/index.js
  src/core/processing/abstract-stale-processor.ts
  src/core/processing/issues/issue-stale-processor.spec.ts
  src/core/processing/issues/issue-stale-processor.ts
  src/core/processing/pull-requests/pull-request-stale-processor.spec.ts
  src/core/processing/pull-requests/pull-request-stale-processor.ts
Labels: test

chore(deps): update dependency eslint-plugin-jest to v25.3.3
  package-lock.json
  package.json
Labels: none

refactor(tests): fix linter issues with to be in favour of to strict equal
  src/core/inputs/common-inputs.service.spec.ts
  src/core/inputs/issues-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/processing/issues/issue-logger.spec.ts
  src/core/processing/pull-requests/pull-request-logger.spec.ts
  src/utils/links/create-input-link.spec.ts
  src/utils/links/create-link.spec.ts
  src/utils/loggers/logger-format.service.spec.ts
  src/utils/loggers/logger.service.spec.ts
Labels: test

chore(deps): lock file maintenance
  package-lock.json
Labels: none

feat(pull-request): add new input `pull-request-ignore-draft`
  CONTRIBUTING.md
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/interfaces/pull-requests-inputs.interface.ts
  src/core/inputs/pull-requests-inputs.service.spec.ts
  src/core/inputs/pull-requests-inputs.service.ts
  src/core/processing/abstract-ignore-processor.ts
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/pull-requests/draft-pull-request.spec.ts
  tests/utils/test-default-inputs.ts
Labels: documentation, test

build(release): new version 1.25.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  49380e1c7bfd37090076e18ce03e5b5a9c780421
Labels: none

fix(processing): fix an issue with infinite batches processing
  dist/index.js
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/github-api-issues.service.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
Labels: test
