Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test

ci(labeler): configure the labeler action
  .github/workflows/label.yml
Labels: none

docs(github): configure the bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

docs(github): configure the feature request template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

ci(semantic): configure the semantic check for the commits
  .github/semantic.yml
Labels: none

ci(merge): add an action to auto merge develop into master
  .github/workflows/merge-develop-into-master.yml
Labels: none

ci(release): configure the release workflow
  .github/workflows/release.yml
Labels: none

ci(build): configure the build workflow
  .github/workflows/build.yml
Labels: none

chore(husky): configure husky
  .husky/commit-msg
  .husky/post-commit
  .husky/pre-commit
Labels: none

chore: configure all contributors
  .all-contributorsrc
Labels: documentation

chore: configure codeclimate
  .codeclimate.yml
Labels: none

chore: configure editor config
  .editorconfig
Labels: none

chore: configure lint staged
  .gitattributes
  .gitconfig
  .lintstagedrc
Labels: none

chore: configure renovate
  .renovaterc.json
Labels: none

chore: configure code of conduct
  CODE_OF_CONDUCT.md
Labels: documentation

chore: configure contributing
  CONTRIBUTING.md
Labels: documentation

chore: configure prettier
  .prettierignore
  .prettierrc
Labels: none

chore: configure issue template
  ISSUE_TEMPLATE.md
  LICENSE
Labels: documentation

chore: configure eslint
  .eslintrc.yml
  .npmrc
Labels: none

chore: configure semantic release
  .eslintignore
  .eslintrc.yml
  .releaserc.json
Labels: none

chore: configure jest
  jest.config.js
  jest/config.ts
  jest/helpers.d.ts
  jest/helpers.js
Labels: none

chore: configure codecov
  CODEOWNERS
  codecov.yml
Labels: none

chore: configure pr template
  PULL_REQUEST_TEMPLATE.md
Labels: documentation

chore: configure commitizen
  scripts/commitizen.js
Labels: none

docs(readme): update the readme
  README.md
Labels: documentation

chore(ts): configure typescript
  tsconfig.json
Labels: none

chore: add package
  package-lock.json
  package.json
Labels: none

docs(readme): update badges
  PULL_REQUEST_TEMPLATE.md
  README.md
Labels: documentation

chore: configure git attributes
  .gitattributes
Labels: none

build: remove useless env
  .github/workflows/build.yml
Labels: none

chore: add action and src scripts
  .github/workflows/build.yml
  .releaserc.json
  action.yml
  package.json
  src/main.ts
  src/types.d.ts
Labels: none

chore(eslint): prefix E prefix for enum of enum suffix
  .eslintrc.yml
Labels: none

chore(eslint): force to have class visibility on members
  .eslintrc.yml
Labels: none

build(dist): commit the dist folder
  .gitignore
  dist/main.js
  dist/main.js.map
Labels: none

chore(jest): fix an issue which cancel compilation
  action.yml
  jest.config.js
Labels: none

chore: create links
  src/utils/link/create-input-link.spec.ts
  src/utils/link/create-input-link.ts
  src/utils/link/create-link.ts
Labels: test

chore: add a logger
  src/utils/logger/logger-format.service.ts
  src/utils/logger/logger.service.ts
Labels: none

chore: log the inputs
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.ts
  src/core/stale.service.ts
  src/main.ts
Labels: none

chore: new deps
  jest/helpers.d.ts
  package-lock.json
  package.json
Labels: none

docs(readme): update the number of contributors
  README.md
Labels: documentation

build(ci): add a new action to test the stale action
  .github/workflows/stale-tester.yml
Labels: none

.github/labeler.yml:

documentation:
  - .all-contributorsrc
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md

test:
  - src/**/*.spec.ts
  - src/**/*.spec.js
