Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, CI

feat(issue): add new input issue-days-before-close to customize the number of days before closing a stale issue
  README.md
  action.yml
  dist/index.js
  src/core/inputs/inputs.enum.ts
  src/core/inputs/inputs.interface.ts
  src/core/inputs/inputs.service.spec.ts
  src/core/inputs/inputs.service.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/test-default-inputs.ts
Labels: documentation, test

build(cache): skip npm ci if the node modules are in the cache
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

build(lint): separate the lint of other and ts files
  .github/workflows/build.yml
Labels: CI

build(cache): use the same cache between the different workflows
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

build(cache): add cache for jest
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: CI

build(release): new version 1.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  69a151ab1ba78a0518833513c326d067567c4e34
Labels: none

feat(logs): improve the issue logger to always add the issue id as a prefix
  src/core/issues/issue-ignore-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
Labels: test

feat(issue): stop processing an issue already stale
  src/core/issues/issue-is-stale-processor.spec.ts
  src/core/issues/issue-is-stale-processor.ts
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
Labels: test

chore(api): allow to remove a label from an issue
  src/github/api/labels/constants/github-api-remove-label-mutation.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
Labels: test

feat(issue): remove the stale label from the issue when no longer stale
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
Labels: test

chore(build): build and fix the tests
  dist/index.js
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
Labels: test

chore(api): add new api call to get a list of added label items from an issue
  .eslintrc.yml
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/timeline-items/constants/github-api-timeline-items-issue-labeled-event-query.ts
  src/github/api/timeline-items/github-api-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-timeline-items.service.ts
  src/github/api/timeline-items/interfaces/github-api-timeline-items-issue-labeled-event.interface.ts
  src/github/api/timeline-items/interfaces/github-api-timeline-items-issue-labeled-events.interface.ts
  tests/utils/fake-issues-processor.ts
Labels: test

chore(logger): add a new method to log a date
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
  src/utils/types/uuid.ts
Labels: test

refactor(types): move some files
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/labels/interfaces/github-api-label.interface.ts
  src/github/api/timeline-items/github-api-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-timeline-items.service.ts
Labels: test

chore(date): add new function to parse a date to datetime
  src/utils/dates/iso-8601-to-datetime.spec.ts
  src/utils/dates/iso-8601-to-datetime.ts
Labels: test

chore(date): add new function to compare datetime
  src/utils/dates/is-date-more-recent.spec.ts
  src/utils/dates/is-date-more-recent.ts
Labels: test

feat(issue): remove the stale label when the creation date of the label is sooner than the update date
  CONTRIBUTING.md
  README.md
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
Labels: documentation, test

test(integration): add more coverage for the stale removal
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/utils/fake-issues-processor.ts
Labels: test

test(date): change the format of the date to avoid issues between local and CI
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/utils/loggers/__mocks__/logger.service.ts
  src/utils/loggers/logger.service.spec.ts
  src/utils/loggers/logger.service.ts
  src/utils/loggers/mock-date-format.ts
Labels: test

test(dates): fix offset issues between local and CI dates
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.spec.ts
  tests/issues/custom-days-before-issue-stale.spec.ts
  tests/issues/issue-stale-and-updated.spec.ts
  tests/issues/issue-stale-not-updated.spec.ts
  tests/issues/issue-to-stale.spec.ts
Labels: test

feat(logs): display the api services logs with the issue prefix
  dist/index.js
  src/core/issues/issue-remove-stale-processor.spec.ts
  src/core/issues/issue-remove-stale-processor.ts
  src/core/issues/issue-stale-processor.spec.ts
  src/core/issues/issue-stale-processor.ts
  src/github/api/labels/github-api-labels.service.spec.ts
  src/github/api/labels/github-api-labels.service.ts
  src/github/api/timeline-items/github-api-timeline-items.service.spec.ts
  src/github/api/timeline-items/github-api-timeline-items.service.ts
Labels: test

feat(logs): round the difference of days in the logs
  dist/index.js
  src/core/issues/issue-stale-processor.ts
Labels: none

Notes added by 'git notes add'
  b5ac4727c78b780520c6809659cf9a1dcc8bb591
Labels: none

build(release): new version 1.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

chore(map): add new function to get the longest key in a map
  src/utils/maps/get-map-longest-key.spec.ts
  src/utils/maps/get-map-longest-key.ts
Labels: test

chore(map): add new function to get the last key of a map
  src/utils/maps/get-map-last-key.spec.ts
  src/utils/maps/get-map-last-key.ts
Labels: test

chore(map): add new function to filter a map
  src/utils/maps/map-filter.spec.ts
  src/utils/maps/map-filter.ts
Labels: test

feat(logs): add statistics in the logs
  .eslintrc.yml
  dist/index.js
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/issues/issues.service.spec.ts
  src/core/issues/issues.service.ts
  src/core/stale.service.spec.ts
  src/core/stale.service.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
Labels: test

build(release): new version 1.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation

Notes added by 'git notes add'
  afbb25e32faa28bbd55f2d750f82ae5713742703
Labels: none

docs(readme): improve the docs to include the stale label removal
  README.md
Labels: documentation

docs(readme): break a line
  README.md
Labels: documentation

feat(stats): add a statistics regarding the unaltered issues
  dist/index.js
  src/core/issues/issue-processor.spec.ts
  src/core/issues/issue-processor.ts
  src/core/statistics/statistics.service.spec.ts
  src/core/statistics/statistics.service.ts
Labels: test

chore(deps): update dependency concurrently to v6.4.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @semantic-release/changelog to v6
  package.json
Labels: none

chore(deps): update dependency @semantic-release/git to v10
  package.json
Labels: none

chore(deps): update dependency @semantic-release/github to v8
  package.json
Labels: none

chore(deps): update dependency lint-staged to v12
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @types/lodash to v4.14.177
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

documentation:
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md

test:
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - tests/**

CI:
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .github/semantic.yml
  - .codeclimate.yml
  - .renovaterc.json
