Repository Sonia-corporation/stale, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation :books:, test :test_tube:, CI :robot:, website :computer:

.github/labeler.yml:

'documentation :books:':
  - .all-contributorsrc
  - CHANGELOG.md
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
  - ISSUE_TEMPLATE.md
  - LICENSE
  - PULL_REQUEST_TEMPLATE.md
  - README.md
  - documentation/**

'test :test_tube:':
  - src/**/*.spec.ts
  - src/**/*.spec.js
  - src/**/*.spec.mjs
  - tests/**
  - documentation/**/*.spec.ts
  - documentation/**/*.spec.tsx
  - documentation/**/*.spec.js
  - documentation/**/*.spec.mjs

'CI :robot:':
  - .github/workflows/**
  - .github/config.yml
  - .github/issue_label_bot.yaml
  - .github/labeler.yml
  - .codeclimate.yml
  - .renovaterc.json

'website :computer:':
  - documentation/**

chore(prs): fetch the first 50 comments
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/constants/github-comments-per-pull-request.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/github-api-pull-requests.service.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
Labels: test :test_tube:

chore(schemas): add new schemas to fetch only some comments
  src/github/api/comments/interfaces/github-api-comments-pagination.interface.ts
  src/github/api/issues/constants/github-api-issue-comments-query.ts
  src/github/api/issues/constants/github-api-issues-query.ts
  src/github/api/issues/constants/github-comments-per-issue.ts
  src/github/api/issues/github-api-issues.service.spec.ts
  src/github/api/issues/interfaces/github-api-get-issue-comments.interface.ts
  src/github/api/pull-requests/constants/github-api-pull-request-comments-query.ts
  src/github/api/pull-requests/constants/github-api-pull-requests-query.ts
  src/github/api/pull-requests/constants/github-comments-per-pull-request.ts
  src/github/api/pull-requests/github-api-pull-requests.service.spec.ts
  src/github/api/pull-requests/interfaces/github-api-get-pull-request-comments.interface.ts
  src/github/github-schemas.service.spec.ts
  src/github/github-schemas.service.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Labels: test :test_tube:

chore: update index
  dist/index.js
  dist/schema.graphql
Labels: none

chore: update dist
  dist/index.js
  dist/schema.graphql
Labels: none

docs(typo): add missing plural on "pull request"
  documentation/docs/05-github-token-input.mdx
Labels: documentation :books:, website :computer:

docs(github-token): add more details about the required permissions
  documentation/docs/05-github-token-input.mdx
Labels: documentation :books:, website :computer:

build(release): new version 2.5.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

Notes added by 'git notes add'
  e6/32d7e887e4fcfd42e19966eae8839f3f2bc273
Labels: none

chore: update index
  dist/index.js
Labels: none

chore: update index
  dist/index.js
Labels: none

build(output): refactor the syntax to create github outputs
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Labels: CI :robot:

build(output): refactor the syntax to create github outputs (#1028)
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Labels: CI :robot:

refactor(prettier): apply changes due to new prettier minor
  src/github/github-schemas.service.ts
Labels: none

chore(index): update index
  dist/index.js
Labels: none

refactor(test): handle a breaking change from Jest 29 with jest.mocked
  src/core/processing/issues/issue-processor.spec.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
Labels: test :test_tube:

chore(index): update index
  dist/index.js
Labels: none

chore: update index
  dist/index.js
Labels: none

chore(docusaurus): handle the breaking changes
  documentation/i18n/en/code.json
  documentation/i18n/en/docusaurus-theme-classic/navbar.json
  documentation/i18n/fr/code.json
  documentation/i18n/fr/docusaurus-theme-classic/navbar.json
Labels: documentation :books:, website :computer:

build(node): migrate to node 18 for GitHub workflows
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
Labels: CI :robot:

chore(asdf): configure asdf to install node and npm
  .idea/material_theme_project_new.xml
  .idea/prettier.xml
  .idea/sonarlint/issuestore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/issuestore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/issuestore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/issuestore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/securityhotspotstore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/securityhotspotstore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/securityhotspotstore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/securityhotspotstore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/securityhotspotstore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/securityhotspotstore/index.pb
  .tool-versions
  documentation/.tool-versions
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

chore: use the correct name for projects when consuming the queries
  dist/index.js
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/issues/issue-only-any-project.spec.ts
  tests/issues/issue-only-with-project.spec.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/issues/issue-with-ignored-project.spec.ts
  tests/pull-requests/pull-request-only-any-project.spec.ts
  tests/pull-requests/pull-request-only-with-project.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-ignored-project.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Labels: test :test_tube:

chore: use the correct name for projects when consuming the queries
  dist/index.js
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/issues/issue-only-any-project.spec.ts
  tests/issues/issue-only-with-project.spec.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/issues/issue-with-ignored-project.spec.ts
  tests/pull-requests/pull-request-only-any-project.spec.ts
  tests/pull-requests/pull-request-only-with-project.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-ignored-project.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Labels: test :test_tube:

build(node): migrate to node 18 for GitHub workflows
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
Labels: CI :robot:

chore(asdf): configure asdf to install node and npm
  .idea/material_theme_project_new.xml
  .idea/prettier.xml
  .idea/sonarlint/issuestore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/issuestore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/issuestore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/issuestore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/securityhotspotstore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/securityhotspotstore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/securityhotspotstore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/securityhotspotstore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/securityhotspotstore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/securityhotspotstore/index.pb
  .tool-versions
  documentation/.tool-versions
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

chore: update index
  dist/index.js
Labels: none

build(output): refactor the syntax to create github outputs (#1028)
  .github/workflows/merge-develop-into-master.yml
  .github/workflows/release.yml
Labels: CI :robot:

refactor(test): handle a breaking change from Jest 29 with jest.mocked
  src/core/processing/issues/issue-processor.spec.ts
  src/core/processing/issues/issues.service.spec.ts
  src/core/processing/pull-requests/pull-request-processor.spec.ts
  src/core/processing/pull-requests/pull-requests.service.spec.ts
Labels: test :test_tube:

chore(index): update index
  dist/index.js
Labels: none

chore(index): update index
  dist/index.js
Labels: none

chore: update index
  dist/index.js
Labels: none

build(node): migrate to node 18 for GitHub workflows
  .github/workflows/build.yml
  .github/workflows/deploy-website.yml
  .github/workflows/release.yml
Labels: CI :robot:

chore(asdf): configure asdf to install node and npm
  .idea/material_theme_project_new.xml
  .idea/prettier.xml
  .idea/sonarlint/issuestore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/issuestore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/issuestore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/issuestore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/securityhotspotstore/4/f/4f92e55ba9f28ec51004ec0ed2d2312764bb2a77
  .idea/sonarlint/securityhotspotstore/6/f/6f3e9935ddd4f89ecb1957dfabf848633323c851
  .idea/sonarlint/securityhotspotstore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/securityhotspotstore/c/9/c9a818aaf6a7acd6b861ec3d00d9c1e0902fd12f
  .idea/sonarlint/securityhotspotstore/d/2/d21d46f2d344247f24c71f0f4110356258467e8d
  .idea/sonarlint/securityhotspotstore/index.pb
  .tool-versions
  documentation/.tool-versions
  documentation/package-lock.json
  documentation/package.json
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

chore: use the correct name for projects when consuming the queries
  dist/index.js
  src/core/processing/issues/issue-ignore-processor.spec.ts
  src/core/processing/issues/issue-ignore-processor.ts
  src/core/processing/issues/issue-include-processor.spec.ts
  src/core/processing/issues/issue-include-processor.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.spec.ts
  src/core/processing/pull-requests/pull-request-ignore-processor.ts
  src/core/processing/pull-requests/pull-request-include-processor.spec.ts
  src/core/processing/pull-requests/pull-request-include-processor.ts
  src/github/api/issues/interfaces/github-api-issue.interface.ts
  src/github/api/pull-requests/interfaces/github-api-pull-request.interface.ts
  tests/issues/issue-only-any-project.spec.ts
  tests/issues/issue-only-with-project.spec.ts
  tests/issues/issue-with-all-projects-ignored.spec.ts
  tests/issues/issue-with-ignored-project.spec.ts
  tests/pull-requests/pull-request-only-any-project.spec.ts
  tests/pull-requests/pull-request-only-with-project.spec.ts
  tests/pull-requests/pull-request-with-all-projects-ignored.spec.ts
  tests/pull-requests/pull-request-with-ignored-project.spec.ts
  tests/utils/fake-issues-processor.ts
  tests/utils/fake-pull-requests-processor.ts
Labels: test :test_tube:

chore: ignore .idea config file
  .gitignore
Labels: none

chore: ignore .idea config file (#1187)
  .gitignore
Labels: none

build(release): new version 2.6.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

Notes added by 'git notes add'
  03/c08058a0e38093ae10ac67ca0791bc0938a665
Labels: none

chore(version): change the last generated version to 3.0.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

chore(version): change the last generated version to 3.0.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:

build(release): new version 2.6.0
  CHANGELOG.md
  documentation/docs/15-changelog.md
  package-lock.json
  package.json
Labels: documentation :books:, website :computer:
